:root{
--heading-font-family: 'Courgette',
    cursive;
--default-font-family: 'Cinzel',
    serif;

}

nav{
font-family: var(--default-font-family);
}
.profile-pic{
    max-width:100%;
}
.home-icon{
    color: white;
}
.h2-home{
font-family: var(--default-font-family);
font-size: 30px;
}
.container{
    text-align: center;
    padding-top: 150px;
}

.name{
font-family: var(--heading-font-family);
font-size: 100px;
transform: translate(0px, 70px);
letter-spacing: 0.1em;
text-shadow: 1px 1px 2px white;
}
.portfolio-h1{
font-family: var(--default-font-family);
font-size: 150px;
transform: translate(0px, -80px);
text-shadow: 1px 1px 2px white;
}
@media (max-width:900px){
    .portfolio-h1{
      font-size: 80px;  
    text-align: center;
    }
    .name{
        font-size:80px ;
        
    }   
    .h2-home{
     font-size: 20px;  
     text-align: center; 
    }
   
    

}

    
